<div align="center"><h1>Simple Accounting Web Application</h1></div>
<div style="margin:100px 0px 0px 460px;padding-left:100px;padding-top:40px;padding-bottom:40px;border:1px solid;width:320px;background:lightgrey;"><h1>Editing account</h1>

<%= render 'form' %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
</div>